
.e404error_text{
    margin-top: 30px;
    text-align: center;
}
.e404{
    font-size: 100px;
    text-align: center;

}
.gif{
    font-size: 100px;
    text-align: center;
}
.giff{
    padding-top: 30px;
    margin-left: 22%;
}